[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=azureuser
Group=www-data
WorkingDirectory=/home/azureuser/myproject
Environment="PATH=/home/azureuser/myproject/venv/bin"
ExecStart=/home/azureuser/myproject/venv/bin/gunicorn --bind 0.0.0.0:5000 wsgi:app

[Install]
WantedBy=multi-user.target